.one{
    text-decoration: none;
    /* font-size: 1.5%; */
}
.two{
    text-decoration: none;
    padding-left:75px;
    padding-right:170px;
}
.myclass{
    position: sticky;
    top:0px;
}
.nav-item{
list-style: none;
margin-left: 35px; 
margin-top: 7px; 
position: fixed;
left:110px;
}
.container-2{
    display: flex;
    width:100%;
    justify-content: space-between;
}

.container-fluid{
    width:100vw;
    /* border-bottom: 1px solid black; */
    /* padding-bottom: 12px; */
}
.navbar{
        border-bottom: 1px solid black;
}
.btn2{
    margin-top: 6px;
}